{% extends 'base.html' %}

{% block content %}
    <h1>{{ book.title }}</h1>
    <p>Auteur: {{ book.author }}</p>
    <p>Publicateur: {{ book.publisher }}</p>
    <p>Date de Publication: {{ book.publication_date }}</p>
    <p>Description: {{ book.synopsis }}</p>
    <p>Langage: {{ book.language }}</p>
    <a href="{{ url_for('routes.book_update', book_id=book.id_book) }}">Modifier</a>
    <form action="{{ url_for('routes.book_delete', book_id=book.id_book) }}" method="post">
        <input type="submit" value="Supprimer">
    </form>
{% endblock %}