{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1 class="my-4">Login</h1>
    <form action="{{ url_for('routes.login') }}" method="post" class="w-50 mx-auto">
      <div class="mb-3">
        <label class="form-label"> {{ form.email.label }} </label>
        {{ form.email(class="form-control") }}
      </div>
      <div class="mb-3">
        <label class="form-label"> {{ form.password.label }} </label>
        {{ form.password(class="form-control") }}
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me">
        <label for="remember_me" class="form-check-label">Remember me</label>
      </div>
      <input type="submit" value="Login" class="btn btn-primary">
    </form>
  </div>
{% endblock %}